.header {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.header > .title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.header > .description {
  font-size: 1rem;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 600px;
  align-items: center;
  padding: 1rem 1rem;
}

.pipeline-design-area {
  width: 600px;
  height: 600px;
  display: flex;
  border: 2px solid #2d3436;
  margin-top: 2rem;
  margin-bottom: 1rem;;
  background-color: #dff9fb;
}

.node {
  width: 8rem;
  height: 3rem;
  position: absolute;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f2f6;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.reader-node {
  background-color: #30336b;
}

.retriever-node {
  background-color: #ff7675;
}